html {
	font: normal 100%/1.5 sans-serif;
}

@media only screen and (min-width: 100em) {
	html{
		font-size: 150%;
	}
}

@media only screen and (min-width: 120em) {
	html {
		font-size: 200%;
	}
}

body {
	margin: 0;
	padding: 2% 3%;

	background-color: #fd851a;
}


/*2500px / 16 = 156em. This query changes the background colour to green when viewed over 2500px (So I know when to stop working)*/
@media only screen and (min-width: 156em) {
	body{
		background-color: green;
	}
}


header {
	margin: 3% 0;
	overflow: hidden;
}
/*header changes at larger screen sizes (see nav media query)*/


img {
	display: block;
	width: 100%;
}

ul {
	list-style-type: none;
	padding-left: 0;
}

/*///////////////////////////////EWB logo/////////////////////////////////////////////////////*/
header img {
	display: inline-block;
	float: left;
	margin-bottom: 10px;
	width: 165px;
}

@media only screen and (min-width: 60em) {
	header img {
	width: 80%;
	}
}


/*///////////////////////////////Navigation (with toggle btn)/////////////////////////////////////////////////////*/
.nav-btn,
.nav-btn:link,
.nav-btn:visited {
	height: 40px;
	position: absolute;
	right: .65rem;
	top: 46px;
	width: 46px;

	background: transparent url("../images/icon-nav.svg") no-repeat 0 -40px;
}

.nav-btn:hover,
.nav-btn:focus,
.nav-btn:active {
	background-color: #000;
	background-position: 0 -40px;
}

.nav-btn[data-state="engaged"] {
	background-color: #000;
	background-position: -46px -40px;
}



.nav ul{
	clear: both;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.nav a,
.nav a:link,
.nav a:visited {
	background-color:#000;
	display: block;
	margin-bottom: 3px;
	overflow: hidden;
	padding: .4rem;

	color: #FFF;
	font-size: .8rem;
	text-decoration: none;
	text-transform: uppercase;
}

.nav a:hover,
.nav a:focus,
.nav a:active {
	background-color: #333;
}

.nav-top,
.nav-top a,
.nav-top a:link {
	max-height: 0;

	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
}

.nav-top[data-state="expanded"],
.nav-top[data-state="expanded"] a,
.nav-top[data-state="expanded"] a:link {
	max-height: 25rem;
	padding: .325rem;
}

@media only screen and (min-width: 25em) {
	.nav a,
	.nav a:link,
	.nav a:visited {
		font-size: 1.2rem;
	}
}

@media only screen and (min-width: 30em) {
	.nav a,
	.nav a:link,
	.nav a:visited {
		float: left;
		margin-right: 3px;
		overflow: hidden;
		width: 45%;

		font-size: .8rem;
	}

	.nav-btn {
		display: none;
	}

	.nav-top,
	.nav-top a,
	.nav-top a:link {
		max-height: 7rem;
	}
}

@media only screen and (min-width: 40em) {
	.nav-top {
		float: right;
		width: 70%;
	}
}

@media only screen and (min-width: 60em) {

	header {
		float: left;
		height: 100%;
		width: 25%;
		position: fixed;
		margin-top: 1%;
	}

	.main-content {
		float: right;
		margin-top: 8rem;
		width: 70%;
	}

	.nav-top {
		margin-top: 2rem;
	}

	.nav-top,
	.nav-top a,
	.nav-top a:link {
		float: left;
		max-height: 30rem;
		width: 90%;
	}

	.nav-bottom,
	.top-btn {
		display: none;
	}
}


@media only screen and (min-width: 85em) {
	.nav a,
	.nav a:link,
	.nav a:visited {
		font-size: 1rem;
	}
}

/*///////////////////////////////Main Content/////////////////////////////////////////////////////*/
article {
	padding: 7% 5% 60px;
	position: relative;
}

article span {
	font-size: .75rem;
	font-weight: bold;
	text-transform: uppercase;
}

h1, h2, h3 {
	margin: 5px 0 20px 1.5%;
	margin-left: 1.5%;

	color: #FFF;
	text-transform: uppercase;
	text-shadow: 3px -3px 0px rgba(0, 0, 0, .5);
}

h1 {
	font-size: 2rem;
	line-height: 2.4rem;
}

h2 {
	font-size: 3rem;
	line-height: 3rem;
}

h3 {
	font-size: 1.75rem;
	line-height: 2rem;
}

@media only screen and (min-width: 23em) {
	h1,
	h3 {
		font-size: 3rem;
		line-height: 3rem;
	}
}

@media only screen and (min-width: 39em) {
	article {
		margin: 0 5%;
	}

	h1,
	h3 {
		font-size: 3.75rem;
		line-height: 4rem;
	}
}

@media only screen and (min-width: 50em) {
	h2{
		font-size: 4.5em;
		line-height: 1em;
	}
}

article p {
	margin-top: 5px;
	margin-left: 1.5%;
}



.o-box{
	/*background-color: #fffae4;*/
	/*background-color: #f9f6f3;*/
	background-color: #ffa33c;
	border: 4px solid #FFF;
	border-radius: 25px;
	box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, .3);
}


#welcome,
#whoyou,
#workfor,
#whatneed,
#howhelp {
	margin-bottom: 12rem;
}

#thx,
#rsource {
	margin-bottom: 15rem;
}


.nxt-btn {
	position: absolute;
	height: 70px;
	width: 70px;
	bottom: -35px;
	left: 50%;
	margin-left: -35px;


	background: transparent url("../images/nextbtn.svg") no-repeat 0 0;
}

.nxt-btn:hover,
.nxt-btn:focus,
.nxt-btn:active {
	background-position: -80px 0;
}



.txt-link,
.txt-link:link,
.txt-link:visited {
	color: #000;
	text-decoration: underline;
}

.txt-link:hover,
.txt-link:focus,
.txt-link:active {
	color: #fff;
}

/*///////////////////////////////Footer/////////////////////////////////////////////////////*/

footer {
	margin-top:10%;
	position: relative;
}


.top-btn {
	position: absolute;

	height: 70px;
	width: 70px;
	top: -160px;
	left: 50%;
	margin-left: -35px;


	background: transparent url("../images/nextbtn.svg") no-repeat 0 0;

	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.top-btn:hover,
.top-btn:focus,
.top-btn:active {
	background-position: -80px 0;
}

.resourcelinks li{
	padding-top: 1rem;
}

.resourcelinks li .txt-link {
	font-size: .9rem;
	font-weight: bold;
	text-transform: uppercase;
}

footer p {
	clear: both;
	margin-top: 15px;

	font-size: .5rem;
}
